a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    padding: 1rem;
    color: black;
    background: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1,
p {
    margin: 0;
}

main {
    padding: 1rem;
    height: 100%;
    text-align: center;
}

body {
    padding-top: 75px;
    background: whitesmoke;
}

* {
    box-sizing: border-box;
}

h1 {
    color: #204996;
}

main{
    margin: 100px 220px 100px 220px;
    border: 3px outset black;
    padding : 20px 10px 20px 10px;
    background-color : white;
}

.textBox {
    padding: 5px 5px 5px 5px;
}

.submit {
    padding : 5px 5px 5px 5px;
}

#submit {
    padding : 10px 70px 10px 70px;
    border : 1px outset gray;
    border-radius : 20px;
}

.bold {
    font-weight : bold;
}

.login {
    font-size : 24pt;
    padding : 0px 0px 20px 0px;
}

.img {
    position: relative;
    background-image: url(../night.jpg);
    height: 84vh;
    background-size: cover;
}

.img-cover {
    position: absolute;
    height: 30px;
    width: 110px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.img .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: white;
    z-index: 2;
    text-align: center;
}